.AlbumContainer {

  h1 {
    margin-top: 105px;
    font-family: 'Roboto Mono', monospace;
  }
  
  ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  img {
    width: 150px;
    height: 150px;
    transition: opacity 1s ;
  }

  img:hover {
    opacity: 50%;
  }

  li {
    width: 175px;
    height: 235px;
    margin: 30px;

  }

  p {
    width: 150px;
    font-family: 'Roboto Mono', monospace;
    color: darkgreen;

    &:hover {
      color: purple;
    }
  }

  a {
    text-decoration: none;
  }
}